<!DOCTYPE>
<html lang="en" ng-app="EvalSystem">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Selection Flow Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="../Controllers/selectionFlow.js"></script>
  <link rel="stylesheet" type="text/css" href="../CSS/selectionFlow.css">
</head>
<body>
<div id="selectionPanes">
  <h3>Selection Panes</h3>


  <div class="paneColumns">

    <div class="pane" ng-controller="TermController">
      <h4>Terms</h4>
      <select id="termList" size="10" multiple>
        <option ng-repeat="term in terms">{{ term.Year + " " + term.SemesterName }}</option>
      </select>
    </div>

    <div class="pane" ng-controller="DeptController">
      <h4>Departments</h4>
      <select id="deptList" size="10" multiple>
        <option ng-repeat="dept in depts" value="{{dept.DepartmentCode}}">{{ dept.DepartmentName }}</option>
      </select>
    </div>

    <div class="pane">
      <h4>Courses</h4>
    </div>

    <div class="pane">
      <h4>Instructors</h4>
    </div>
  </div>

</div>

<div id="reportDiv">
  <h3>Report</h3>
</div>
</body>
