<!DOCTYPE>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Selection Flow Page</title>
  <link rel="stylesheet" type="text/css" href="../CSS/selectionFlow.css">
</head>

<div id="reportSelection">
  <h3>Report Selection</h3>
  <form action="">
    <input type="radio" name="reportType" value="multiEval"> Multi Eval<br>
    <input type="radio" name="reportType" value="pinGraph"> Pin Graph<br>
    <input type="radio" name="reportType" value="boxWhisker"> Box and Whisker
  </form>
</div>

<div id="selectionPanes">
  <h3>Selection Panes</h3>
  <div class="paneColumns">

    <div class="pane">
      <h4>Column 1</h4>
    </div>

    <div class="pane">
      <h4>Column 2</h4>
    </div>

    <div class="pane">
      <h4>Column 3</h4>
    </div>
  </div>
</div>

<div id="reportDiv">
  <h3>Report</h3>
</div>
