<!DOCTYPE html>
<html lang ="en-US">
<head>
	<title Secretary Permission Page>Select Permission</title>
	<meta charset = "UTF-8"/>
	<link rel = "stylesheet" type = "text/css" href = "SecretaryPermission.css">
</head>	
<body>
	<br>
	<br>
	<h3>Select Permission(s)</h3>
	<div id="Permission List">
		<select multiple list="Permissions" name="Permission" size="21">
		<datalist id="Permissions">
			<option value="" disabled="disabled" selected="selected">Please Select Permission/s</option>
			<option value="1 Administrator">1 Administrator</option>
			<option value="2 Manager">2 Manager</option>
			<option value="3 Instructor">3 Instructor</option>
			<option value="4 Support Staff">4 Support Staff</option>
			<option value="5 Site Admin">5 Site Admin</option>
			<option value="6 Site Manager">6	Site Manager</option>
			<option value="7 Site Staff">7 Site Staff</option>
			<option value="8 Remote Proctor Admin">8 Remote Proctor Admin</option>
			<option value="9 Remote Proctor">9 Remote Proctor</option>
			<option value="11 WSU Staff">11	WSU Staff</option>
			<option value="12 Adjunct">12 Adjunct</option>
			<option value="13 Department Chair">13 Department Chair</option>
			<option value="14 Dean">14 Dean</option>
			<option value="15 Reports Instructor">15 Reports Instructor</option>
			<option value="16 Tenure">16 Tenure</option>
			<option value="17 Single Eval Admin">17	Single Eval Admin</option>
			<option value="18 Demo Instructor">18 Demo Instructor</option>
			<option value="19 Student">19 Student</option>
			<option value="20 Standards Admin">20 Standards Admin</option>
			<option value="21 Adjunct Advisor">21 Adjunct Advisor</option>
		</datalist>
		</select>
	</div>
	<br>
	
	<div id="NextBackButton">
		<button onclick="location.href='PermissionResults.html'" type="button">
		 Next</button>
		 
		<button onclick="location.href='SecretaryPermission.html'" type="button">
		 Back</button>
	</div>
	
</body>
</html>